.title {
  .fa-calendar-plus-o {
    color: $info;
  }
  .fa-question-circle-o {
    color: $dark;
  }
  .fa-exclamation-circle {
    color: $danger;
  }
  .fa-hourglass-end {
    color: $warning;
  }

}